{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion & Inscription</title>
    <link rel="stylesheet" href="{% static 'css/sign_in_out.css' %}">
</head>
<body>

    <div class="conteneur-principal" id="conteneur-principal">
        {% if messages %}
        <ul class="messages" style="list-style-type: none; padding: 10px; text-align: center;">
            {% for message in messages %}
                <li style="color: {% if message.tags == 'success' %}green{% else %}red{% endif %};">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

        <div class="conteneur-formulaire formulaire-inscription">
            <form method="POST">
            {% csrf_token %}
                <h1>Créer un compte</h1>
                <div class="champs">
                    <input type="text" placeholder="Nom" name="nom" required />
                <input type="text" placeholder="Prénom" name="prenom" required />
                <input type="email" placeholder="Adresse E-mail" name="email" required />
                <input type="tel" placeholder="Numéro de Téléphone" name="telephone" required />
                <input type="password" placeholder="Mot de Passe" name="password" required />
                <select name="role" required>
                    <option value="" disabled selected>Choisissez votre rôle</option>
                    <option value="Conducteur">Conducteur</option>
                    <option value="Passager">Passager</option>
                </select>
                    
                </div>
                <button type="submit" name="action" value="register" class="bouton">S'inscrire</button>
            </form>
        </div>

        <div class="conteneur-formulaire formulaire-connexion">
            <form action="#">
                <h1>Se connecter</h1>
                <div class="champs">
                    <input type="email" placeholder="Adresse E-mail" required />
                    <input type="password" placeholder="Mot de Passe" required />
                </div>
                <a href="#">Mot de passe oublié ?</a>
                <button class="bouton">Connexion</button>
            </form>
        </div>

        <div class="conteneur-superposition">
            <div class="panneau-superposition">
                <div class="panneau panneau-gauche">
                    <h1>Ravi de te revoir !</h1>
                    <p>Si tu as déjà un compte, connecte-toi pour accéder à ton espace.</p>
                    <button class="bouton fantome" id="bouton-connexion">Se connecter</button>
                </div>
                <div class="panneau panneau-droite">
                    <h1>Bonjour !</h1>
                    <p>Nouveau ici ? Inscris-toi pour commencer l'aventure avec nous.</p>
                    <button class="bouton fantome" id="bouton-inscription">S'inscrire</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/sign_in_out.js' %}"></script>

</body>
</html>